@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HuertoDelValle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0605142393.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo1.jpg" width="90px" height="90px" alt="" style="border: 5px solid #FFBB98"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-reorder" style="font-size:33px"></i>

                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a class="nav-link text" style="color: #000000; font-size: medium; font-family: cursive; font-weight: bolder;" asp-area="" asp-controller="Catalogo" asp-action="Catalogo">CATALOGO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>

                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>-->
    <header>
        <nav class="navbar">
            <div class="brand-title" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo1.jpg" width="90px" height="90px" alt="" style="border: 5px solid #FFBB98">
            </div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a asp-area="" asp-controller="Catalogo" asp-action="Catalogo">CATALOGO</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a></li>
            @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a  class="bar" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li>
                <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a class="bar" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li>
                <a class="bar" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
          </ul>
        </div>
      </nav>
    </header>

    <br>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - HuertoDelValle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<style>
    .navbar{
        background-color: #007175;
        color: black;
    }
</style>

