@model HuertoDelValle.Models.Receta

@{
    ViewData["Title"] = "Detalle de la Receta";
}

<div>
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            
        </div>
    </div>
</div>