@model IEnumerable<HuertoDelValle.Models.Receta>

@{
    ViewData["Title"] = "Recetas";
}

<link rel="stylesheet" href="~/css/receta.css" />

<main class="main">
    <div class="container">
        <h2 class="receta-main-tittle">Recetas Saludables</h2>

        <section class="container-recetas">
            @foreach (var item in Model)
            {
                <div class="receta">
                    <a asp-action="Receta" asp-route-id="@item.Id">
                        <img src="@Html.DisplayFor(modelItem => item.Imagen)" alt="" class="recetas__img">
                    </a>
                    <div class="receta__description">
                        <h4 class="receta__title">@Html.DisplayFor(modelItem => item.NombreReceta)</h4>
                        <form asp-action="" method="POST">
                            <input type="hidden" name="id" value="@item.Id">
                            <button  asp-action ="Favoritos" class="btn__receta"><i class="far fa-heart"></i></button>
                        </form>
                    </div>
                </div>
            }
        </section>
    </div>
</main>

<style>
.receta-main-tittle{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
    letter-spacing: 1.1px;    
}
</style>