@model IEnumerable<HuertoDelValle.Models.Receta>

@{
    ViewData["Title"] = "Recetas";
}

<link rel="stylesheet" href="~/css/receta.css" />

<main class="main">
    <div class="container">
        <h2 class="receta-main-tittle">Recetas Saludables</h2>

        <section class="container-receta">
            @foreach (var item in Model)
            {
                <div class="receta">
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" alt="" class="receta__img">

                    <div class="receta__description">
                        <h4 class="receta__title">@Html.DisplayFor(modelItem => item.NombreReceta)</h4>
                        <a class="btn btn-info" asp-action="Receta" asp-route-id="@item.Id">View</a>
                    </div>
                </div>
            }
        </section>
    </div>
</main>