@model Categoria

@{
    ViewData["Title"] = "Detalle";
}

<div class="container">
    <div>
        <div class="details__title">
            <h2>@Html.DisplayFor(model => model.NombreCategoria)</h2>
        </div>
        <td>
            
        </td>
    </div>
</div>
