@{
    ViewData["Title"] = "Nosotros";
}
<link rel="stylesheet" href="~/css/nosotros.css" />

<div class="container-fondo">
    <div class="fondo">
        <div class="fondo__section">
            <img src="~/img/fondo.jpg" alt="" class="fondo__img">
            <div class="fondo__content">
                <h2 class="fondo__title">Nosotros</h2>
                <p class="fondo__txt">
                    El Huerto del Valle
                </p>
            </div>
        </div>
    </div>
</div>

<section class="nosotros container">

    <figure class="nosotros__picture">
        <img src="~/img/nosotros0.jpg" class="nosotros__img">
    </figure>

    <div class="nosotros__descrip">
        <h2 class="title">¿Quienes Somos?</h2>
        <p class="descrip__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim officiis perspiciatis cumque, hic at magni 
            sunt quo earum, laborum labore, doloremque dolores recusandae alias consectetur similique! Temporibus, error molestias!
        </p>
    </div>

</section>

<section class="nosotros1 container">

    <div class="nosotros1__descrip">
        <h2 class="title">Misión</h2>
        <p class="descrip__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim officiis perspiciatis cumque, hic at magni 
            sunt quo earum, laborum labore, doloremque dolores recusandae alias consectetur similique! Temporibus, error molestias!
        </p>
    </div>

    <figure class="nosotros1__picture">
        <img src="~/img/nosotros6.jpg" class="nosotros1__img">
    </figure>

</section>

<section class="nosotros container">

    <figure class="nosotros__picture">
        <img src="~/img/nosotros0.jpg" class="nosotros__img">
    </figure>

    <div class="nosotros__descrip">
        <h2 class="title">Visión</h2>
        <p class="descrip__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim officiis perspiciatis cumque, hic at magni 
            sunt quo earum, laborum labore, doloremque dolores recusandae alias consectetur similique! Temporibus, error molestias!
        </p>
    </div>

</section>

