@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        
            <section>
                <form id="account" method="post" class="form-register">
                    <center>
                        <h3 class="e0">Iniciar Sesión</h3>
                    </center>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="f1">
                        <div class=" col-md-12">
                            <br>
                            <div class="text-center">
                                <img src="https://www.vippng.com/png/full/355-3552587_change-icon-and-system-text-size-on-windows.png" width="200" height="200" alt="">
                            </div>

                        
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                    
                            <center>
                                <button type="submit" class="btn" >Iniciar sesión</button>
                            </center>
                        
                            <br>
                        </div>
                    </div>


                    <br> 
                    <div class="text-center">
                        <p >
                            <a id="forgot-password" asp-page="./ForgotPassword" class="p1">¿Olvidaste tu contraseña?</a>
                        </p>
                        <p >
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="p1">Registrarse</a>
                        </p>
                        <p >
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="p1">Enviar confirmación por correo electrónico</a>
                        </p>
                    </div>
                </form>
            </section>
        
    </div>
    <div class="col-md-1"></div>
</div>

<style>
    body {
        background: #f7f7f7;
    }

    .form-register {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;

    background-color: #FFFFFF;
    }
    
    .e0{
    font-family: 'Broadway';
    color: #36404D;
    }
   
    .p1{
        color: #36404D;
        
    }
    .btn{
        background-color: #2471A3;
        color: #FFFFFF;
        border-radius: 4px #FFFFFF;
       font-family: 'Cooper Black';
        
    } 
    .f1{
        background-color: #FBF1F1;
         font-family: 'Bauhaus 93';
    }
</style>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
