@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrarse";
}
<link rel="stylesheet" href="~/css/register.css" />

    <main>
        <div class="box">
            <div class="inner-box">
                <div class="forms-wrap">             
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off" class="sign-in-form">
                        <div class="logo">
                            <img src="~/img/logo2.png" alt="" />
                            <h3>El Huerto del Valle</h3>
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="heading">
                            <h2>Regístrese</h2>
                            <h6>¿Ya tiene una cuenta? </h6>
                            <a asp-page="./Login" class="toggle">Sign in</a>
                        </div>

                        <div class="actual-form">

                            <div class="input-wrap">
                                <input asp-for="Input.Email" type="text" minlength="4" class="input-field" autocomplete="off" required/>
                                <label class="label__register">Email</label>
                            </div>

                            <div class="input-wrap">
                                <input asp-for="Input.Password" type="password" minlength="4" class="input-field" autocomplete="off" required/>
                                <label class="label__register">Contraseña</label>
                            </div>

                            <div class="input-wrap">
                                <input asp-for="Input.ConfirmPassword" type="password" minlength="4" class="input-field" autocomplete="off"  required/>
                                <label class="label__register">Confirmar Contraseña</label>
                            </div>

                        </div>

                        <button type="submit" class="sign-btn" >Registrarse </button>

                        <p class="text">
                            Al registrarme, acepto las condiciones de servicio y la política de privacidad.
                        </p>
                    </form>

                </div>

                <div class="carousel">
                    <div class="images-wrapper">
                        <img src="~/img/nosotros1.jpg" class="image" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </main>

<script src="~/js/form.js"></script>   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
