@model HuertoDelValle.Models.Orden

@{
    ViewData["Title"] = "Procesar Compra";
}           

    <!-- <script>
           function concatenar (){
            Campo1=document.getElementById('campo1').value;
            Campo2=document.getElementById('campo2').value;

            Final=campo1+(", ")+campo2;

            Document.getelementbyid('final').value=final;
            Document.forms.(nombre del forms).submit();*/

        }
    </script>-->
<br>
<div class="container">
    <h1>Confirmar Compra</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            
